<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{#if pageTitle}}{{pageTitle}} - Happy Birthday Hans!{{else}}Happy Birthday Hans!{{/if}}</title>
  <link rel="stylesheet" href="/public/postcard.css" />
  <link rel="stylesheet" href="/public/cake.css" />
  <link rel="stylesheet" href="/public/song.css" />
  <link rel="stylesheet" href="/public/connections.css" />

  <style>
    header {
      background-color: #3F6E3C;
      color: #f5f9e9;
      padding: 8px 24px;
      text-align: center;
      font-family: 'Courier New';
      font-size: 30px;
      border-radius: 32px 32px 32px 32px; 
      max-width: 1100px;
      margin: 12px auto 0 auto; /* remove bottom gap so nav connects */
    }

    header h1 {
      margin: 6px 0; /* tighten default h1 spacing */
      line-height: 1.1;
    }

    nav {
      background-color: #3F6E3C;
      display: flex;
      justify-content: center;
      border-radius: 28px 28px 28px 28px; 
      padding: 6px 10px;
      max-width: 500px;
      margin: 1px auto 12px auto; 
    }

    nav a {
      color: #f5f9e9;
      padding: 8px 20px; /* smaller vertical padding to bring nav up */
      font-size: 25px;
      text-decoration: none;
      font-family: Garamond, serif;
      display: block;
    }

    nav a:hover {
      background-color: #264224;
      border-radius: 28px 28px 28px 28px; 
    }

    body {
      /* margin: 0;
      background-color: #f5f9e9;
      font-family: Garamond, serif;
      color: #051014;
      display: flex;
      flex-direction: column;
      min-height: 100vh; */
      background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('/public/images/background.png');
      /* background-image: url('/public/images/background.png'); */
      background-size: cover;        /* Makes the image fill the screen */
      background-position: center;   /* Centers the image */
      background-repeat: no-repeat;  /* Prevents repeating tiles */
      background-attachment: fixed;  /* Optional: makes it stay still on scroll */
    }

    footer {
      background-color: #3F6E3C;
      color: #eef5fb;
      text-align: center;
      font-family: Garamond, serif;
      font-weight: bold;
      padding: 10px;
      margin-top: 20px;
    }
  </style>
</head>

<body>
  <header>
    <h1>Happy Birthday Hans!</h1>
  </header>

  <nav>
    <a href="/">Postcard</a>
    <a href="/cake">Cake</a>
    <a href="/song">Song</a>
    <a href="/connections">Connections</a>
  </nav>

  <main>
    {{{ body }}}
  </main>

  <footer>
    <p>You have to admit, I did a pretty good job!</p>
  </footer>
</body>



</html>