<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Happy Birthday Hans!</title>
  <style>
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #f5f9e9;
      color: #051014;
    }

    header {
      background-color: #3F6E3C;
      color: #f5f9e9;
      padding: 5px;
      text-align: center;
      font-family: 'Courier New';
      font-size: 30px;
    }

    nav {
      background-color: #1c311a;
      display: flex;
      justify-content: center;
    }

    nav a {
      color: #f5f9e9;
      padding: 14px 20px;
      text-decoration: none;
      display: block;
    }

    nav a:hover {
      background-color: #264224;
    }

    main {
      display: flex;
      padding: 20px;
    }

    footer {
      background-color: #3F6E3C;
      color: eef5fb;
      text-align: center;
      padding: 10px;
      margin-top: 20px;
    }
  </style>
</head>
<body>

  <header>
    <h1>Happy Birthday Hans!</h1>
  </header>

  <nav>
    <a href="/">Postcard</a>
    <a href="/cake">Cake</a>
    <a href="/song">Song</a>
    <a href="/connections">Connections</a>
  </nav>

  <main>
    {{{ body }}}
  </main>

  <footer>
    <p>I love you :)</p>
  </footer>

</body>
</html>