<p class="instructions">Blow on the mic to extinguish the candles!</p>
<div class="cake-container">
  <div class="cake">
    <img id="cake-media" src="/public/images/cake-lit.gif" alt="Birthday Cake" class="cake-image" />
  </div>
</div>

<script src="/public/js/cake-animation.js"></script>
