<main>
    <div class="content">
        <p>Connections Stuff</p>
    </div>
    <link rel="stylesheet" type="text/css" href="../../public/connections.css" />
    
    <script src="../routes/connections.js"></script>
</main>