<main>
    <div class="content">
        <p>Postcard Stuff</p>
    </div>
    <link rel="stylesheet" type="text/css" href="../../public/postcard.css" />
    
    <script src="../public/js/home.js"></script>
</main>