{{!-- not sure if this is even touched upon --}}
<main> 
    <div class="content">
        <p>The main Stuff</p>
    </div>
    <link rel="stylesheet" type="text/css" href="../../public/postcard.css" />
    
    <script src="../routes/postcard.js"></script>
</main>