<style>
    main {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 200px;
      flex: 1;
    }
</style>

<div class="postcard-container">
  <div class="postcard">
    <div class="front">
      <img src="/public/images/postFront.png" alt="Postcard Front" />
    </div>
    <div class="back">
      <img src="/public/images/postBack.png" alt="Postcard Back" />
    </div>
  </div>
</div>