<style>
    main {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px;
      flex: 1;
    }
</style>

<div class="song-container">
        <div class="song">
            <div class="song-intro">
                <img src="/public/images/song-intro-letter.png" alt="Song Letter" />
            </div>
            {{!-- <div class="song-annotation">
                <img src="/public/images/song-annotation.jpg" alt="Song Annotation" />
            </div> --}}
        </div>
</div>
