<div class="song-container">
  <div class="song">
    <img src="/public/images/song-intro-letter.png" class="song-intro" alt="Intro Image" draggable="false">
    
    <img src="/public/images/song-annotation.jpg" class="song-annotation" alt="Annotation Image">
  </div>
</div>

<style>
    main {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px;
      flex: 1;
    }
</style>

<script src="/public/js/song-animation.js"></script> 
