body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Calibri;}

.carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Place carousel behind the content */
}

.carousel-images {
    display: flex;
    height: 100%;
    transition: transform 1s ease-in-out;
}

.carousel-image {
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(50%); /* Darken the images */
}

.enter {
    width: 300px;
}

.content {
    /* display: flex;
    flex-flow: column;
    height: 100%; */
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1; /* Ensure content is in front of the carousel */
    margin-top: 10%;
    color: white;
    font-weight: bold;
    font-size: larger;
    padding: 20px;
}