body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.postcard-container{
    perspective: 1000px;
    padding: 40px;
    border-radius: 12px;
}

.postcard-container:hover .postcard{
    transform: rotateY(180deg);
}

.postcard{
    position: relative;
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
    transition: 0.6s;
}

.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    backface-visibility: hidden;
}

.front{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg);
}

.back{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}
