body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* prevent horizontal scroll */
    overflow-y: visible; /* allow vertical movement */
}

.song-container {
    width: 700px;
    height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.song {
    width: 100%;
    height: 100%;
    position: relative;
}

.song img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.2s ease;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+ */
    user-select: none;         /* Standard */
    cursor: grab;              /* nice drag cursor */

}

.song-intro {
    z-index: 2;
}

.song-annotation {
    z-index: 1;
}
