body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.song-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.song{
    position: relative;
    width: 700px;
    height: 800px;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 100px;
}

.song img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  transition: all 0.6s ease;   /* smooth animation */
  cursor: pointer;
}

.song-intro{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 90%;
    left: 5%;

    z-index: 2;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.song-annotation{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.song.flipped .song-intro img {
  z-index: 1;
  transform: translateY(20px) scale(0.97); /* slight shrink down */
  opacity: 0;
  box-shadow: none;
}

.song.flipped .song-annotation img {
  z-index: 2;
  transform: translateY(-10px) scale(1); /* bring forward */
  opacity: 1;
}